.userList {
  display: flex;
  list-style: none;

  margin: 0px auto;
  padding: 0;
  margin: -10px;
}

.card {
  margin-top: 94px;
  margin-bottom: 94px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
